.cuadro{
	width:250px; 
	height:250px;
	border:100px;
}
body{
	background-image: "Poke.jpg";
	background: #fff1c1;
}
header #banner{ 
	background: #fff;
	width: 1050px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
}
#banner{
	background: #fe5f55; 
	height: 350px;
}